html,
body {
  margin: 0;
  padding: 0;
  /* max-height: 100vh; */
}

textarea.MuiInputBase-input.MuiInputBase-inputMultiline.MuiInputBase-inputSizeSmall.css-13x2ze3-MuiInputBase-input::placeholder {
  opacity: 1;
}
