html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

textarea.MuiInputBase-input.MuiInputBase-inputMultiline.MuiInputBase-inputSizeSmall.css-13x2ze3-MuiInputBase-input::placeholder {
  opacity: 1;
}

.overflowX::-webkit-scrollbar-track {
  background: blue;
  /* color: blue; */
}
.overflowX::-webkit-scrollbar-track-piece {
  background: blue;
}
